@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Julián arango Correa<br />
    <abbr title="Phone">P:</abbr>
    311 7468187
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:arango773@gmail.com">arango773@gmail.com</a><br />
  @*  <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>