@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Prueba Tecnica</h1>
        <p class="lead">Imagenes en hojas A4</p>
        <p class="lead">Realizado por: Julián Arango Correa</p>
</div>*@



<div>
    <div class="container-fluid placeholders">
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1 placeholder">
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 placeholder">
                <p> </p>
                <p> </p>
                <img class="img-responsive" src="Images/banner-privacidad-datos-gdpr-america-latina.png">
            </div>

            <div class="form-group">

                <div class="col-xs-4 col-md-6 col-lg-6" style="border-left:solid 2px #C8102E">
                    <h1>Prueba Tecnica</h1>
                    <br />
                    <div class="box">
                        
                        <p class="lead">Imagenes en hojas A4</p>
                        <p class="lead">Realizado por: Julián Arango Correa</p>
                    </div>
                    <div class="box">
                        <p>
                            Use el menú de la parte superior para navegar por las diferentes páginas y acceder a la
                            información.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
